.container {
  width: $width;
  margin: auto;
  max-width: $max-width;
}

.section {
  padding: 120px 0;
}

.relative-section {
  position: relative;
}

.section-dark {
  background: $dark-color;
  color: $pure-white;
}

.section-yellow {
  background: $yellow-color;
  color: $yellow-dark-text;
}

.section-content {
  flex-basis: 60%;
  align-items: flex-start !important;
}

.section-title {
  font-size: 56px;
  font-weight: bold;
}

.section-text {
  font-size: $font-size-18;
  margin: 40px 0 0 0;
  max-width: 458px;
}

.scroll-down {
  margin-top: 84px;
  animation: bounce 3s ease-in-out infinite;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: $screen-1920px) {
  .section-title {
    font-size: $font-size-64;
  }

  .section-text {
    font-size: $font-size-32;
  }
}

@media only screen and (max-width: $screen-1100px) {
  .section-title {
    font-size: $font-size-32;
  }

  .section-text {
    font-size: $font-size-18;
  }
}

@media only screen and (max-width: $screen-950px) {
  .section-title {
    font-size: $font-size-28;
  }

  .section-text {
    font-size: $font-size-16;
  }
}

@media only screen and (max-width: $screen-770px) {
  .section-title {
    font-size: $font-size-28;
  }

  .section-text {
    font-size: $font-size-14;
  }

  .container {
    width: $responsive-width;
  }
}
