@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: #212121
}

*,
*::before,
*::after {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s
}

body {
    line-height: 1.3;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: #212121
}

body::-webkit-scrollbar {
    width: 5px
}

body::-webkit-scrollbar-thumb {
    background: #ff9800;
    border-radius: 20px
}

body::-webkit-scrollbar-thumb:hover {
    background: #f4d29f
}

body::-webkit-scrollbar-track {
    background: transparent
}

h1,
h2,
h3,
p,
small {
    margin: 0
}

a {
    text-decoration: none
}

textarea,
input {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

button {
    outline: none;
    border: none;
    font-size: 100%;
    cursor: pointer
}

.container {
    width: 80%;
    margin: auto;
    max-width: 1920px
}

.section {
    padding: 120px 0
}

.relative-section {
    position: relative
}

.section-dark {
    background: #212121;
    color: #fff
}

.section-yellow {
    background: #ff9800;
    color: #462d08
}

.section-content {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important
}

.section-title {
    font-size: 56px;
    font-weight: bold
}

.section-text {
    font-size: 18px;
    margin: 40px 0 0 0;
    max-width: 458px
}

.scroll-down {
    margin-top: 84px;
    -webkit-animation: bounce 3s ease-in-out infinite;
    animation: bounce 3s ease-in-out infinite
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media only screen and (min-width: 1920px) {
    .section-title {
        font-size: 64px
    }

    .section-text {
        font-size: 32px
    }
}

@media only screen and (max-width: 1100px) {
    .section-title {
        font-size: 32px
    }

    .section-text {
        font-size: 18px
    }
}

@media only screen and (max-width: 950px) {
    .section-title {
        font-size: 28px
    }

    .section-text {
        font-size: 16px
    }
}

@media only screen and (max-width: 770px) {
    .section-title {
        font-size: 28px
    }

    .section-text {
        font-size: 14px
    }

    .container {
        width: 95%
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }

    60% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }

    60% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px)
    }
}

.btn {
    font-weight: 600;
    font-size: 22px;
    border-radius: 20px
}

.btn-yellow {
    background: #ff9800;
    color: #462d08;
    padding: 14px 32px
}

.btn-yellow img {
    margin-left: 16px
}

.btn-yellow:hover {
    -webkit-box-shadow: 0 0 15px rgba(255, 152, 0, 0.5);
    box-shadow: 0 0 15px rgba(255, 152, 0, 0.5)
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 60px;
    z-index: 99999
}

.navbar-container {
    width: 80%;
    max-width: 1920px;
    margin: auto;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 32px
}

.navbar-scrolled-container {
    background: rgba(33, 33, 33, 0.7);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 20px
}

.navbar-logo {
    font-size: 22px;
    color: #fff;
    -webkit-animation: neon 2s ease-in-out infinite alternate;
    animation: neon 2s ease-in-out infinite alternate
}

@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5)
    }

    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5)
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5)
    }

    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5)
    }
}

.navbar-a {
    color: #fff;
    font-size: 22px;
    text-shadow: 0 0 5px rgba(33, 33, 33, 0.5);
    border-bottom: 2px solid transparent;
    margin-right: 48px;
    cursor: pointer
}

.navbar-a:hover {
    color: #ff9800;
    border-bottom-color: #ff9800;
    text-shadow: 0 0 10px rgba(255, 152, 0, 0.8)
}

.navbar-a:last-child {
    margin-right: 0
}

.navbar-ham-menu {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.7);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-transition: 650ms ease-in-out;
    transition: 650ms ease-in-out
}

.navbar-ham-menu-open {
    left: 0
}

.hamburger-open {
    background: url("./assets/hambuttonOpen.svg") no-repeat center;
    background-size: cover;
    display: none;
    width: 45px;
    height: 45px;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer
}

.hamburger-close {
    background: url("./assets/hambuttonClose.svg") no-repeat center !important;
    background-size: cover !important
}

@media only screen and (min-width: 1920px) {

    .navbar-logo,
    .navbar-a {
        font-size: 32px
    }
}

@media only screen and (max-width: 1100px) {

    .navbar-logo,
    .navbar-a {
        font-size: 18px
    }
}

@media only screen and (max-width: 950px) {

    .navbar-logo,
    .navbar-a {
        font-size: 16px;
        margin-right: 24px
    }

    .navbar-logo:last-child,
    .navbar-a:last-child {
        margin-right: 0
    }
}

@media only screen and (max-width: 770px) {
    .navbar-container {
        width: 95%
    }

    .navbar-ham-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .navbar-a {
        margin: 24px 0 24px 0
    }

    .navbar-items {
        display: none
    }

    .hamburger-open {
        display: block
    }
}

.hero-section {
    background: linear-gradient(45deg, rgba(76, 34, 128, 0.8), rgba(54, 84, 131, 0.8), rgba(12, 105, 76, 0.8)), url("./assets/hero-bg.png") repeat center;
    background-size: 125% auto;
    padding-top: 200px;
    padding-bottom: 80px;
    -webkit-animation: AnimationName 30s ease-in-out infinite;
    animation: AnimationName 30s ease-in-out infinite
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.hero-content {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    padding: 32px 16px 32px 32px;
    margin-right: 16px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-box-shadow: 0 5px 15px rgba(33, 33, 33, 0.4);
    box-shadow: 0 5px 15px rgba(33, 33, 33, 0.4)
}

.hero-content .btn {
    margin-top: 32px
}

.hero-text,
.hero-mint-text,
.hero-date-text {
    color: rgba(255, 255, 255, 0.8)
}

.hero-title {
    max-width: 582px;
    color: #fff
}

.hero-text {
    font-weight: 300
}

.hero-mint-text {
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 16px 0 0 0;
    font-weight: 600
}

.hero-mint-text p {
    font-size: 22px
}

.hero-date-text {
    font-size: 14px
}

.aptos-logo {
    height: 28px;
    width: 28px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: 10px
}

.hero-image {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%
}

.hero-image img {
    width: 100%;
    max-width: 491px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px
}

@media only screen and (min-width: 1920px) {
    .hero-title {
        max-width: unset
    }

    .hero-text {
        max-width: unset
    }

    .hero-mint-text p {
        font-size: 32px
    }

    .hero-date-text {
        font-size: 22px
    }

    #countdown-button {
        font-size: 28px;
        width: 40 0px !important
    }

    .hero-image img {
        max-width: unset
    }
}

@media only screen and (max-width: 1100px) {
    .hero-mint-text p {
        font-size: 22px
    }

    .hero-date-text {
        font-size: 16px
    }

    #countdown-button {
        font-size: 18px;
        width: 250px !important
    }

    .hero-image img {
        max-width: unset
    }
}

@media only screen and (max-width: 1100px) {
    .hero-section .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap
    }

    .hero-content {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        width: 100%;
        margin: 0
    }

    .hero-mint-text p {
        font-size: 18px
    }

    .hero-date-text {
        font-size: 14px
    }

    #countdown-button {
        font-size: 16px;
        width: 250px !important
    }

    .hero-image {
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-top: 64px
    }

    .hero-image img {
        width: 100%
    }
}

@media only screen and (max-width: 770px) {
    .hero-content {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        text-align: center;
        padding: 32px 16px
    }

    .hero-mint-text {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.whowere-section .section-content {
    -ms-flex-preferred-size: unset !important;
    flex-basis: unset !important;
    margin-left: 64px
}

.whowere-image img {
    width: 100%;
    max-width: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2)
}

@media only screen and (min-width: 1920px) {
    .whowere-section .section-content {
        -ms-flex-preferred-size: unset;
        flex-basis: unset
    }

    .whowere-section .section-text {
        max-width: 600px
    }

    .whowere-image img {
        max-width: unset
    }
}

@media only screen and (max-width: 770px) {
    .whowere-section .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap
    }

    .whowere-section .section-content {
        margin-left: 0;
        margin-top: 64px
    }
}

.dinner-plate-section .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.dinner-plate-section .container h3 {
    margin-bottom: 16px
}

.dinner-plate-image {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%
}

.dinner-plate-image img {
    width: 100%;
    max-width: 400px;
    -o-object-fit: cover;
    object-fit: cover
}

@media only screen and (min-width: 1920px) {
    .dinner-plate-section .container h3 {
        font-size: 32px
    }

    .dinner-plate-section .section-text {
        max-width: 850px
    }

    .dinner-plate-image img {
        max-width: unset
    }
}

@media only screen and (max-width: 770px) {
    .dinner-plate-section .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap
    }

    .dinner-plate-section .section-text {
        max-width: 850px
    }

    .dinner-plate-image {
        margin-top: 80px
    }

    .dinner-plate-image img {
        max-width: unset
    }
}

.roadmap-container {
    margin-top: 64px
}

.roadmap-container img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 1920px
}

.faq-container {
    width: 80%
}

.faq-container .section-title {
    margin-bottom: 32px
}

.parent-li {
    font-size: 22px;
    margin: 64px 0;
    border-left: 5px solid rgba(255, 152, 0, 0.5);
    padding-left: 16px
}

.parent-li::before {
    content: "🤔 ";
    font-weight: 700
}

.child-li {
    font-size: 16px
}

.child-li::before {
    content: "✔️ "
}

.child-ul {
    margin: 32px 0;
    padding-left: 16px
}

.faq-bottom-text {
    margin-top: 64px
}

@media only screen and (min-width: 1920px) {
    .parent-li {
        font-size: 32px
    }

    .child-li {
        font-size: 28px
    }

    .faq-bottom-text {
        font-size: 32px
    }
}

@media only screen and (max-width: 770px) {
    .faq-container {
        width: 90%
    }

    .parent-li {
        font-size: 16px;
        border-left: 3px solid rgba(255, 152, 0, 0.5)
    }

    .child-li {
        font-size: 14px
    }

    .faq-bottom-text {
        font-size: 18px
    }
}

footer {
    padding: 120px 0;
    background: #ff9800;
    color: #462d08
}

.footer-container {
    width: 70%;
    max-width: 1920px;
    margin: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.footer-container small {
    font-size: 16px
}

.footer-container .flex-column {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.footer-img {
    height: 100px;
    -o-object-fit: contain;
    object-fit: contain
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 32px
}

.footer-text {
    font-size: 18px;
    font-weight: 500
}

.footer-desc {
    max-width: 224px;
    margin: 16px 0 24px 0
}

.footer-desc span {
    background: linear-gradient(-45deg, #ffffff, #3a3b3c, #000000);
    padding: 0 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.2)
}

.footer-desc a {
    font-weight: 500;
    color: #fff
}

.footer-email {
    color: #462d08;
    border-bottom: 1px solid transparent
}

.footer-email:hover {
    border-bottom-color: #462d08
}

.footer-social {
    margin-top: 24px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
}

.footer-social img {
    border-bottom: 1px solid transparent;
    cursor: pointer
}

.footer-social img:hover {
    border-bottom-color: #462d08
}

@media only screen and (min-width: 1920px) {
    .footer-container small {
        font-size: 22px
    }

    .footer-img {
        height: 140px
    }

    .footer-title {
        font-size: 48px
    }

    .footer-text {
        font-size: 28px
    }

    .footer-desc {
        max-width: unset
    }

    .footer-social img {
        height: 65px
    }
}

@media only screen and (max-width: 770px) {
    .footer-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        width: 95%
    }

    .footer-img {
        height: 80px
    }

    .footer-text {
        font-size: 14px
    }

    .footer-title {
        font-size: 22px;
        margin-top: 32px
    }
}

/*# sourceMappingURL=style.css.map */