.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 60px;
  z-index: 99999;
}

.navbar-container {
  width: $width;
  max-width: $max-width;
  margin: auto;
  height: 100%;
  justify-content: space-between;
  padding: 0 32px;
}

.navbar-scrolled-container {
  background: rgba($dark-color, 0.7);
  backdrop-filter: blur(20px);
  border-radius: $border-rad;
}

.navbar-logo {
  font-size: $font-size-22;
  color: $pure-white;
  animation: neon 2s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 5px rgba($pure-white, 0.5);
  }
  to {
    text-shadow: 0 0 20px rgba($pure-white, 0.5);
  }
}

.navbar-a {
  color: $pure-white;
  font-size: $font-size-22;
  text-shadow: 0 0 5px rgba($color: $dark-color, $alpha: 0.5);
  border-bottom: 2px solid transparent;
  margin-right: 48px;

  &:hover {
    color: $yellow-color;
    border-bottom-color: $yellow-color;
    text-shadow: 0 0 10px rgba($yellow-color, 0.8);
  }

  &:last-child {
    margin-right: 0;
  }
}

.navbar-ham-menu {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgba($dark-color, 0.7);
  backdrop-filter: blur(20px);
  transition: 750ms ease-in-out;
}

.navbar-ham-menu-open {
  left: 0;
}

.hamburger-open {
  background: url("./assets/hambuttonOpen.svg") no-repeat center;
  background-size: cover;
  display: none;
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
}

.hamburger-close {
  background: url("./assets/hambuttonClose.svg") no-repeat center !important;
  background-size: cover !important;
}

@media only screen and (min-width: $screen-1920px) {
  .navbar-logo,
  .navbar-a {
    font-size: $font-size-32;
  }
}

@media only screen and (max-width: $screen-1100px) {
  .navbar-logo,
  .navbar-a {
    font-size: $font-size-18;
  }
}

@media only screen and (max-width: $screen-950px) {
  .navbar-logo,
  .navbar-a {
    font-size: $font-size-16;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: $screen-770px) {
  .navbar-container {
    width: $responsive-width;
  }

  .navbar-ham-menu {
    display: flex;
  }

  .navbar-a {
    margin: 24px 0 24px 0;
  }

  .navbar-items {
    display: none;
  }

  .hamburger-open {
    display: block;
  }
}
