footer {
  padding: 120px 0;
  background: $yellow-color;
  color: $yellow-dark-text;
}

.footer-container {
  width: 60%;
  max-width: $max-width;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;

  small {
    font-size: 16px;
  }

  .flex-column {
    align-items: flex-start;
  }
}

.footer-img {
  height: 100px;
  object-fit: contain;
}

.footer-title {
  font-size: $font-size-24;
  font-weight: bold;
  margin-bottom: 32px;
}

.footer-text {
  font-size: $font-size-18;
  font-weight: 500;
}

.footer-desc {
  max-width: 224px;
  margin: 16px 0 24px 0;

  span {
    background: linear-gradient(-45deg, #9549fc, #5782cd, #07cc91);
    padding: 0 10px;
    border-radius: $border-rad;
    box-shadow: 0 0 10px rgba($dark-color, 0.2);
  }

  a {
    font-weight: 500;
    color: $pure-white;
  }
}

.footer-email {
  color: $yellow-dark-text;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: $yellow-dark-text;
  }
}

.footer-social {
  margin-top: 24px;
  justify-content: space-evenly;

  img {
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom-color: $yellow-dark-text;
    }
  }
}

@media only screen and (min-width: $screen-1920px) {
  .footer-container {
    small {
      font-size: $font-size-22;
    }
  }

  .footer-img {
    height: 140px;
  }

  .footer-title {
    font-size: $font-size-48;
  }

  .footer-text {
    font-size: $font-size-28;
  }

  .footer-desc {
    max-width: unset;
  }

  .footer-social {
    img {
      height: 65px;
    }
  }
}

@media only screen and (max-width: $screen-770px) {
  .footer-container {
    flex-flow: column nowrap;
    width: $responsive-width;
  }

  .footer-img {
    height: 80px;
  }

  .footer-text {
    font-size: $font-size-14;
  }

  .footer-title {
    font-size: $font-size-22;
    margin-top: 32px;
  }
}
