.faq-container {
  width: 80%;

  .section-title {
    margin-bottom: 32px;
  }
}

.parent-li {
  font-size: $font-size-22;
  margin: 64px 0;
  border-left: 5px solid rgba($yellow-color, 0.5);
  padding-left: 16px;

  &::before {
    content: "🤔 ";
    font-weight: 700;
  }
}

.child-li {
  font-size: $font-size-16;

  &::before {
    content: "✔️ ";
  }
}

.child-ul {
  margin: 32px 0;
  padding-left: 16px;
}

.faq-bottom-text {
  margin-top: 64px;
}

@media only screen and (min-width: $screen-1920px) {
  .parent-li {
    font-size: $font-size-32;
  }

  .child-li {
    font-size: $font-size-28;
  }

  .faq-bottom-text {
    font-size: $font-size-32;
  }
}

@media only screen and (max-width: $screen-770px) {
  .faq-container {
    width: 90%;
  }

  .parent-li {
    font-size: $font-size-16;
    border-left: 3px solid rgba($yellow-color, 0.5);
  }

  .child-li {
    font-size: $font-size-14;
  }

  .faq-bottom-text {
    font-size: $font-size-18;
  }
}
